<!DOCTYPE <!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>HolbertonBnB</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <LINK rel="shortcut icon" href={{ url_for('static', filename='images/icon.png') + '?' + cache_id }}">
        <LINK rel="shortcut icon" href={{ url_for('static', filename='styles/4-common.css') + '?' + cache_id }}">
        <LINK rel="shortcut icon" href={{ url_for('static', filename='styles/3-header.css') + '?' + cache_id }}">
        <LINK rel="shortcut icon" href={{ url_for('static', filename='styles/3-footer.css') + '?' + cache_id }}">
        <LINK rel="shortcut icon" href={{ url_for('static', filename='styles/6-filters.css') + '?' + cache_id }}">
        <LINK rel="shortcut icon" href={{ url_for('static', filename='styles/8-places.css') + '?' + cache_id }}">
        <LINK rel="shortcut icon" href={{ url_for('static', filename='styles/font-awesome.css') + '?' + cache_id }}">

        <!-- JQUERY Initialization -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="{{ url_for('static', filename='scripts/4-hbnb.js') + '?' + cache_id }}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <script src="" async defer></script>
    </body>
</html>>
